<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistoricoActivity"></activity>
        <activity android:name=".RecuperaSenhaActivity" />
        <activity
            android:name=".EditarUsuarioActivity"
            android:label="Voltar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz.HomeActivity" />
        </activity>
        <activity
            android:name=".FimQuizzActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".QuizzActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz.FimQuizzActivity" />
        </activity>
        <activity
            android:name=".EscolherPeriodo"
            android:label="Voltar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz.HomeActivity" />
        </activity>
        <activity
            android:name=".ComoFuncionaActivity"
            android:label="Voltar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz.HomeActivity" />
        </activity>
        <activity
            android:name=".RankActivity"
            android:label="Voltar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz.HomeActivity" />
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>